body {

    font-family: 'Vina Sans', cursive;
    background-color: rgb(192, 197, 202);
    margin: auto;
    padding: 0;


}

nav {

    background-color: black;
    margin-bottom: 2rem;

}



.nav-link {

    color: blueviolet;
    font-size: 1.7rem;
    letter-spacing: 2px;

}

.nav-item a:hover {

    color: rgb(192, 197, 202);
}


.banner p {

    font-size: 22px;

}


.col {

    margin-bottom: 2rem;

}

.card {

    font-family: 'Roboto Condensed', sans-serif;
}

.card img {

    height: 22rem;

}

.compra-title {

    font-weight: bold;
}

#nome,
#email,
#cpf,
#cvv,
#vld,
select {

    display: block;
    width: 95%;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;

}

#qtd {

    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    width: 10%;
}

.main-footer {

    background-color: black;
    color: blueviolet;
    position: static;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}


#button {

    background-color: rgb(71, 71, 248);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    color: aliceblue;
    position: bottom fixed;
}