
body{

    font-family:  Arial, sans-serif;
    margin: 0;
    padding:0;
    height:100%;
    width: 100%;
    background-color: rgb(212, 190, 233);

}




header{

    background:rgb(33, 8, 56);

}

fieldset{

    border: none;
}

legend{

    font-size: 25px;
}


label{
    margin-top: 10px;

}

select{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid blanchedalmond;

}


header{

    background-color: blueviolet;
}



.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;

  
}


.nav-list{
    
    display: flex;
    justify-content: right;
   
}

.nav-list ul{
    display: flex;
    text-align: right;
    justify-content: right;
    list-style: none;
    padding: 0%;

}

.nav-item{
    display: flex;
    justify-content: right;
    font-weight: bold;
    margin-left: 5%;
    list-style-type: none;


}

.nav-link{

    color: white;
    text-decoration: none;
    font-size: 1.15rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-bar li a:hover{

    color: aliceblue;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {

    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
   
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        cursor: pointer;
        color: aliceblue;
        border: none;
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-bottom: 1rem;
        background-color: rgb(42, 13, 70);
       

    }
    .mobile-menu .nav-item {
        display: block;
        margin-top: 1.2rem;
        margin-left:0;
    }
  
    .open {
        display: block;
    }


}



.banner p{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2cm black;
}

.banner h1{

    font-weight: bold;
    color: blueviolet;
    margin-top: 5%;
    margin-left: 2%;
    text-shadow: 2cm black;
}




#nome, #email, #cpf, #cvv, #vld{

    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 1.7rem;
    border-radius: 5px;
    border: 2px solid blanchedalmond;
    padding: 0;
  
    




}


#nome:focus, #email:focus, #cpf:focus, #cvv:focus, #vld:focus{

    background-color:rgb(247, 247, 247) ;
outline: none;
}

#nome:hover, #email:hover, #cpf:hover, #cvv:hover, #vld:hover{

    border: 3px solid
    blueviolet;

}

.row{
    width: 100%;
}


.cards{
    text-align: left;
    color: blueviolet;
    font-weight: bolder;
    font-size: 15px;
    width: 25rem;
    height: 100%;
    margin-bottom: 1rem;
    margin-left: 2%;


}


.compra{

border: 2px solid blueviolet;
border-radius: 10px;
justify-content: center;


    
}

.compra img{

  
    width: 99%;
    height: 320px;
    max-width: 100%;
    padding-left: 1%;
    overflow: hidden;

}

.compra h2{

    padding: 15px;
    color: white;
    background:blueviolet;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin: 0px;

}


.compra-title, .compra-text{

    padding-left: 20px;
   
}





label,input{

    display: block;
}


#button{
background: blueviolet;
color: aliceblue;
border: none;
border-radius: 5px;
font-size: 1rem;
width: 100%;
height: 5%;
margin-top: 10px;
padding: 5px;
}

#news{

    margin: 2%;
    float: left;

}


.rodape{

    background:blueviolet;
    padding:20px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 5rem;
}
